/* Feedback Form Styles */
.container1 {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #17395d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin:auto; /* Center the button horizontally */
}


button[type="submit"]:hover {
  background-color: #21b428;
  border:#fff;
}

